@import "http://fonts.googleapis.com/css?family=Oswald:400,700,300";
* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body > header {
  background-color: #404040;
  color: #fff;
  font-size: 24px;
  padding: 8px 128px; }
  body > header * {
    display: inline-block; }
  body > header h1 {
    font-weight: bold; }
  body > header nav ul {
    margin-left: 64px; }
    body > header nav ul li {
      display: inline-block;
      opacity: 0.6; }

.vehicle {
  padding: 16px 64px; }
  .vehicle > header {
    padding: 0 64px;
    border-bottom: 2px solid #404040; }
    .vehicle > header * {
      display: inline-block; }
    .vehicle > header h1 {
      font-size: 32px;
      color: #404040; }
    .vehicle > header ul {
      margin-left: 16px; }
      .vehicle > header ul li {
        color: #888;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 0 16px; }
        .vehicle > header ul li a.hidden {
          opacity: 0;
          pointer-events: none; }
        .vehicle > header ul li a.active {
          color: #404040;
          border-bottom: 4px solid #404040; }
  .vehicle .stack {
    width: 100%;
    position: relative;
    left: -16px;
    pointer-events: none; }
    .vehicle .stack .layer, .vehicle .stack .annotation {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.5s ease, transform 0.5s ease, margin 1s ease; }
    .vehicle .stack .hidden {
      opacity: 0;
      transform: translateY(-20px); }
    .vehicle .stack .annotation {
      background-image: url("../images/annotation/dot-center.png");
      min-width: 480px;
      padding: 64px 0; }
      .vehicle .stack .annotation.right {
        background-image: url("../images/annotation/dot-right.png"); }
      .vehicle .stack .annotation.far-right {
        background-image: url("../images/annotation/dot-far-right.png"); }
      .vehicle .stack .annotation.arrow-right {
        background-image: url("../images/annotation/arrow-right.png"); }
      .vehicle .stack .annotation .text {
        color: #404040;
        font-family: Oswald, sans-serif;
        font-size: 16px;
        position: absolute;
        left: 360px;
        top: 51px;
        width: 640px; }
        .vehicle .stack .annotation .text h1, .vehicle .stack .annotation .text span {
          display: inline-block; }
        .vehicle .stack .annotation .text h1 {
          text-transform: uppercase;
          margin-right: 16px; }
        .vehicle .stack .annotation .text span {
          color: #888; }
  .vehicle#falcon9-v11 {
    height: 1900px; }
  .vehicle#falcon9-v11.open .stack .upper.layer {
    margin-top: 90px; }
  .vehicle#falcon9-v11.open .stack > .payload.layer .payload.cargo-dragon.layer {
    margin-top: -50px; }
    .vehicle#falcon9-v11.open .stack > .payload.layer .payload.cargo-dragon.layer .nosecone.layer {
      margin-top: -30px; }
    .vehicle#falcon9-v11.open .stack > .payload.layer .payload.cargo-dragon.layer .trunk.layer {
      margin-top: 40px; }
      .vehicle#falcon9-v11.open .stack > .payload.layer .payload.cargo-dragon.layer .trunk.layer .adapter.layer {
        margin-top: 30px; }
  .vehicle#falcon9-v11.open .stack > .payload.layer .payload.crew-dragon.layer {
    margin-top: -50px; }
    .vehicle#falcon9-v11.open .stack > .payload.layer .payload.crew-dragon.layer .trunk.layer {
      margin-top: 40px; }
      .vehicle#falcon9-v11.open .stack > .payload.layer .payload.crew-dragon.layer .trunk.layer .adapter.layer {
        margin-top: 30px; }
  .vehicle#falcon9-v11.open .stack > .payload.layer .payload.satellite.layer .satellite.layer {
    margin-top: -20px; }
  .vehicle#falcon9-v11.open .stack > .payload.layer .payload.satellite.layer .adapter.layer {
    margin-top: 20px; }
  .vehicle#falcon9-v11.open .stack > .payload.layer .payload.satellite.layer .left-fairing.layer {
    margin-left: -50px; }
  .vehicle#falcon9-v11.open .stack > .payload.layer .payload.satellite.layer .right-fairing.layer {
    margin-left: 50px; }
  .vehicle#falcon9-v11.open .stack .booster.layer {
    margin-top: 300px; }

html, body {
  width: 100%; }

html {
  overflow: hidden;
  overflow-y: auto; }

header {
  font-family: Oswald, Arial, sans-serif; }

/*# sourceMappingURL=main.css.map */
