
@import 'http://fonts.googleapis.com/css?family=Oswald:400,700,300';
@import 'reset';

@import 'header';

@import 'vehicles';

html, body {
  width: 100%;
}

html {
  overflow: hidden;
}

header {
  font-family: Oswald, Arial, sans-serif;
}
